# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Mercurial
.hg*

.settings
.autotools
.cproject
.project
.pydevproject
.DS_Store
cmake_debug.sh
cmake_debug_with_pic.sh
cmake_rdebug.sh
cmake_ddebug_with_pic.sh
cmake_release.sh
cmake_release_with_pic.sh
*-build
src/nkit/version.h
src/version.cpp
win
src/nkit/detail/config.h
build
cygwin
scripts
